<!DOCTYPE html>
<html>
<head>
  <title>MountainsOnRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<header>
  <h1>World Wide Mountains</h1>
  <nav>
    <a href="<%= mountains_path %>">Index</a>
     |
    <a href="<%= mountains_new_path %>">New Mountain</a>

  </nav>
</header>
<hr>
<%= yield %>
<hr>
<footer>
&copy; Mountain Studio 2020
</footer>
</body>
</html>
