<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <ul>
  <li>Mountain: <%=@findMountain.name%>
  <li>Elevation: <%=@findMountain.height%>
  <li>First ascenters: <%=@findMountain.first%>
  <li>Date Climbed: <%=@findMountain.date%>
  <li><img src="<%=@findMountain.image%>">
  <li><a href="<%=edit_path%>">Edit</a>
  <li><a href="<%=destroy_path%>">Delete</a>
  </ul>
</body>
</html>
