<!DOCTYPE html>
<html>
  <head>
    <title>RailsMountains</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>This is the list of top mountains in the world!</h1>
      <nav>
        <a href="<%= mountains_path %>">Index</a>
        |
        <a href="<%= mountains_new_path %>">Add New Mountain</a>
      </nav>
    </header>

    <hr>
    <%= yield %>
    <hr>

    <footer>
      &copy; Rails Mountains Homework 2020.
    </footer>
  </body>
</html>
