<h2>
<%= @mountain['name'] %>
</h2>

<p>
<strong>Location:</strong>
  <%= @mountain['location'] %>
</p>

<p>
<strong>Height:</strong>
  <%= @mountain['height'] %>
</p>

<img src="<%= @mountain['image_url'] %>" alt="<%=@mountain['name'] %>" >
