<h2><%= @title %> details</h2>

<ul>
<li>title: <%= @title %></li>
<li>date released: <%= @release_date %></li>
<li>tagline: "<%= @tagline %>"</li>
<li><img src=<%= @poster_link %>></li>
</ul>
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @youtube_key %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
