<!DOCTYPE html>
<html>
  <head>
    <title>Mountains</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <h1>Mountain Tour</h1>

    <header>
      <nav>
        <a href="<%= mountains_path %>">Index</a>

  
      </nav>
    </header>

    <hr>

    <%= yield %>

    <hr>

    &copy; Star Child Productions 2001
  </body>
</html>
